<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>

    <link rel="stylesheet" href="../styles/default.css">
    <link rel="stylesheet" href="../styles/cabecalho.css">
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/homeResponsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="cabecalho">
        <div class="divCabecalho">
            <img id="logomarca" src="../icones/logo.svg" alt="Logomarca">
            <span class="spanLogin">
                <img id ="imgLogin"src="../icones/log-in.svg" alt="log in">
                <a href="/pointRegister" id="textoLogin">Cadastre um ponto de coleta</a>
            </span>
        </div>
    </header>
    
    <main>
        <div class="primeiraDivMain">
            <h1 id="titulo">Seu marketplace de coleta de resíduos.</h1>
            <h2 id="comentario">Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</h2>
            <a href="#" class="linkBotao">
                <section id="imgBotao"><img src="../icones/search.svg" alt="Lupa"></section>
                <div class="textoBotao">
                    <p>Pesquise pontos de coleta</p>
                </div>
            </a>
        </div>
    </main>

    <div class="modal hide">
        <form action="/searchResults">  
            <div class="modal-cabecalho">    
                <h1>Pontos de coleta</h1>
                <img src="../icones/x.svg" alt="Fechar" name="close">
            </div>
            <input type="text" name="searchCity"  placeholder="Digite a cidade ">
            <button>Buscar</button>
        </form>
    </div>

    
    <script src="../scripts/homePage.js"></script>
</body>
</html>