{% extends 'layout.html'%}

    {% block title %}
        <title>Ecoleta - Resultado da busca</title>
    {% endblock title %}
    
    {% block styles %}
        <link rel="stylesheet" href="../styles/searchResults.css">
    {% endblock styles %}
    
    {% block header %}
        {% include 'partials/page-header.html' %}
    {% endblock header %}
    
    {% block main %}
        <h5>2 pontos encontrados</h5>
        <div class="allCards">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1558583055-d7ac00b1adca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80" 
                    alt="Eletrônicos">
                <h1>Colectoria</h1>
                <h4>Resíduos Eletrônicos e Lâmpadas</h4>
                <p>Rio do Sul, Santa Catarina</p>
                <p>Guilherme Gemballa, Jardim América</p>
                <p>N°260</p>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1516992654410-9309d4587e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" 
                    alt="Papéis e Papelões">
                <h1>Papersider</h1>
                <h4>Papéis e Papelão</h4>
                <p>Rio do Sul, Santa Catarina</p>
                <p>Guilherme Gemballa, Jardim América</p>
                <p>N°260</p>
            </div>
        </div>
    {% endblock main %}